*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* hero section */
.main{
    background-image: url(images/bgimg.avif);
    width: 100%;
    height: 70vh;
    background-size:cover;
    background-position: center;
}
/* main typography */
.main h1{
    font-size: 3rem;
    color:white;
    margin-left: 3em;
}
span{
    font-size: 1.4rem;
}

/* heading section */
.heading{
    background-color: black;
    height: 10vh;
}
.heading h1{
    font-size: 2rem;
    color: white;
    text-align: center;
}
.heading span{
    font-size: 3rem;
}

/* cards section */
.cards{
    display: flex;
    margin-top: 2rem;
    justify-content: space-around;
}
.box{
    width:20%;
}
.box img{
    width: 100%;
}
.text{
    padding: 1em;

}
.text p{
    margin-top: .4em;
}
/* contact section */
.contact{
    display: flex;
    /* width: 100%; */
    margin-top: 1em;

    
}
.con{
    background-color: rgb(61, 230, 10);
    width: 50%;
    padding: 1.2em;

}
.con p{
    margin: .7em;
}

.about-me{
    background-color: rgb(180, 44, 44);
}
footer{
    background-color: black;
    color: white;
    width: 100%;
    height: 10vh;
    text-align: center;
    margin-top: 1em;
}
footer p{
    font-size: 1.6rem;
    padding: .5em;
}



/* media queries */
@media (max-width:600px) {
    .main h1{
        color: black;
        font-size:2rem;
        
    }
    .heading h1{
        font-size:1.8rem
    }
    .cards{
        flex-direction: column;
       
    }
    .box{
        width: 100%;
    }
    .contact{
        flex-direction: column;
       
    }
    .con{
        width: 95%;
        margin:auto;
       
    }
    .about-me{
        margin-top: 1em;
    }
    
}
